<div class="layout">
  <!-- Key Metrics -->
  <div class="grid grid--cols-4 gap--space-between gap--medium">
    <div class="col col--span-2 col--center">
      <div class="grid grid--cols-2 gap--medium">
        <div class="item">
          <div class="meta"></div>
          <div class="content">
            <span class="value value--medium">{{ observed_level | default: '?' }}</span>
            {% if observed_level > gauge.flood.categories.action.stage %}
            <span class="label label--small label--inverted">⚠︎ Observed Level ({{ observed_level_unit }})</span>
            {% else %}
            <span class="label label--small">Observed Level ({{ observed_level_unit }})</span>
            {% endif %}
          </div>
        </div>
        {% if forecast_level > 0 %}
          <div class="item">
            <div class="meta"></div>
            <div class="content">
              <span class="value value--medium">{{ forecast_level | default: '?' }}</span>
              {% if observed_level > gauge.flood.categories.action.stage %}
              <span class="label label--small label--inverted">⚠︎ Forecast Level ({{ forecast_level_unit }})</span>
              {% else %}
              <span class="label label--small">Forecast Level ({{ forecast_level_unit }})</span>
              {% endif %}
            </div>
          </div>
        {% endif %}
        <div class="item">
          <div class="meta"></div>
          <div class="content">
            <span class="value value--medium">{{ observed_flow | default: '?' }}</span>
            <span class="label label--small">Observed Flow ({{ observed_flow_unit }})</span>
          </div>
        </div>
        {% if forecast_flow > 0 %}
          <div class="item">
            <div class="meta"></div>
            <div class="content">
              <span class="value value--medium">{{ forecast_flow | default: '?' }}</span>
              <span class="label label--small">Forecasted Flow ({{ forecast_flow_unit }})</span>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
    <!-- Line Chart -->
    <div id="{{ chart_id }}" class="col col--span-2" style="width: 100%"></div>
  </div>
</div>

<!-- Title Bar -->
<div class="title_bar">
  <img class="image" src="https://raw.githubusercontent.com/stephenyeargin/trmnl-nwps-gauges/refs/heads/main/assets/noaa.svg" />
  <span class="title">{{ gauge.name | default: 'Unable to load gauge data' }} </span>
  <span class="instance">{{ trmnl.plugin_settings.instance_name }}</span>
</div>

<script>
  Highcharts.chart("{{ chart_id }}", {
    chart: {
      type: "line",
      height: 200,
      animation: false
    },
    title: {
      text: null
    },
    xAxis: {
      type: "datetime",
      labels: {
        style: {
          fontSize: "12px",
          color: "#000000"
        }
      },
      lineWidth: 0,
      gridLineDashStyle: "dot",
      tickWidth: 1,
      tickLength: 0,
      gridLineWidth: 1,
      gridLineColor: "#000000",
      tickPixelInterval: 80,
      plotLines: [{
        color: "#121212",
        width: 1,
        dashStyle: "Dash",
        value: Date.parse(now),
        label: {
          text: "Now",
          align: "center",
          style: {
            fontSize: "10px",
            color: "#121212"
          }
        }
      }]
    },
    yAxis: {
      min: chartMin,
      max: chartMax,
      labels: {
        style: {
          fontSize: "12px",
          color: "#000000"
        }
      },
      gridLineDashStyle: "solid",
      gridLineWidth: 1,
      gridLineColor: "#000000",
      tickAmount: 4,
      title: {
        text: "Water Level ({{ observed_level_unit }})",
        style: {
          fontSize: "12px"
        }
      },
      plotLines: plotLines.map(function(line) {
        return {
          ...line,
          dashStyle: "Dash"
        };
      })
    },
    plotOptions: {
      series: {
        animation: false,
        lineWidth: 2
      }
    },
    series: [
      {
        name: "Combined",
        data: combinedData,
        color: "black",
        curve: true
      }
    ],
    legend: {
      enabled: false
    },
    tooltip: {
      enabled: false
    },
    credits: {
      enabled: false
    }
  });
</script>
